<h3>Comments</h3>
<%= render partial: 'comments/form', locals: comment_form_partial_locals(commentable) %>
<%= render partial: 'comments/comment', collection: commentable.comments.where.not(user: current_user).persisted %>