<div id="<%= dom_id comment %>" class="comment-card">

  <%= render partial: 'comments/timestamps', locals: { comment: comment } %>

  <div class="card-body">
    <p class="card-text text-secondary"><%= comment.body %></p>
  </div>

</div>
