<div class="card-header text-center text-semibold">
  <% if comment.updated_at.eql? comment.created_at %>
    <span class="card-title fw-semibold"><%= comment.created_at.strftime '%Y-%m-%d %H:%M' %></span>
  <% else %>
    <span class="card-title fw-semibold"><%= comment.updated_at.strftime '%Y-%m-%d %H:%M' %> (Updated)</span>
  <% end %>
</div>