<%= link_to defined?(link_path) && link_path ? link_path : :back, class: 'd-block no-format-link ms-4 mt-2 text-secondary' do %>
  <i class="bi bi-chevron-left"></i> <span class="fs-5"><%= defined?(link_label) && link_label ? link_label : 'Back' %></span>
<% end %>