<div class="alert alert-success alert-dismissible fade show mx-auto my-2 col-11 col-md-6" role="alert">
  <span><%= notice %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>