<div class="alert alert-success position-fixed" role="alert" data-controller="alerts">
  <i class="bi bi-check-circle-fill"></i>&emsp;<span><%= notice %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>