<div id="<%= dom_id post %>">
  <p>
    <strong>Image:</strong>
    <%= link_to post.image.filename, post.image if post.image.attached? %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= post.public %>
  </p>

</div>
